<div class='image-holder'>
  <div class='button-area'>
    <%= link_to '', edit_image_path(image), class: 'fa fa-pencil' %>
    <%= link_to '', image, method: :delete, class: 'fa fa-times', data: { confirm: 'You sure?' } %>
  </div>

  <%= link_to image_tag(image.file.url(:medium), class: 'img-responsvie'), image.file.url(:medium), data: { lightbox: image.file_file_name, title: image.file_file_name } %>

  <span class='view'>Views: <%= image.impressionist_count(filter: :ip_address) %></span>
</div>

<%= text_field_tag :url, image_url(image.code), readonly: true, id: 'copy-url', class: 'form-control' %>
